.nome,
.sobrenome,
.pet {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.gustavo,
.brandao,
.gato {
    
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.andressa,
.dos-santos-abrantes,
.smile {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.nome1,
.sobrenome1,
.pet1 {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.andreza,
.santos,
.bieber {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.guigas,
.neves,
.tobi {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.livia,
.rocha,
.nito {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
