.nome,
.sobrenome,
.pet {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}
.gabriel,
.gouveia,
.lillia {
    padding: 0,3rem;
    text-align: center;
    color: rgb(4, 25, 158);
}

